body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.datepicker-date-display {
  background-color: #7f7fd5;
  }

.row {
  margin-bottom: 0px; 
}

.input-field {
  margin-bottom: 0px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-auto-columns: 0.5fr, 1fr, 0.5fr; 
  grid-auto-rows: 1fr, 100px; 
  margin-top: 5%;
  grid-template-areas:
    'columm card icons'
    'columm card2 column';  
}

.card {
  padding: 20px 20px 0px 20px;
  grid-area: card;
  border-radius: 6px;
  /* border: 1px solid #ddd; */
  max-width: 700px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 47px -7px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 2px 47px -7px rgba(0,0,0,0.71);
  box-shadow: 0px 2px 47px -7px rgba(0,0,0,0.71);
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 45px;
  width: 100%;
  background-color: #7f7fd5;
  border-radius: 4px;
  color: #fff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
}

select {
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.input {
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: auto;
  padding-left: 10px;
  /* this ensured the width is not changing after adding padding-left */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /* background-color: #3CBC8D;  */
}

h1 {
  color: #4a4f62;
}

 h5 {
  display: inline;
  color: #4a4f62;
 }

p {
  margin-bottom: 5px;
  color: #4a4f62;
}

.brand {
  grid-area: card2;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.fa-github {
  color: #fff;
}

.fa-twitter {
  margin-top: 10px;
}

.no-p-margin {
  margin: 0px;
}

.item-holder {
  margin: 0px 0px 20px 0px;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: #4a4f62;
}

.close {
  float: right;
  margin-left: 10px;
  font-size: 20px;
}

.edit {
  float: right;
  margin-left: 15px;
  font-size: 20px;
}

.priority {
  float: right;
  font-size: 20px;
}

.card-item {
  margin-top: 10px;
  padding: 20px;
  grid-area: card;
  border-radius: 6px;
  /* border: 1px solid #ddd; */
  background-color: #f6faff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

hr {
  height: 2px;;
  background-color: #fff;
  border: none;
  color: #fff;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: #aec0d3;
}

.add {
  margin-bottom: 20px;
  text-align: center;
}
.fa-plus-square {
  color: #209bff;
}

.fa-plus-square:hover,
.fa-plus-square:focus {
  color: #3fb1ff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  
  body {
    background: #fafafa;
  }

  .container {
    display: grid;
    grid-auto-columns: 1fr; 
    margin-top: 30px;
    grid-template-areas:
      'card'
      'card2';  
  }

  .fa-github {
    color: #4a4f62;
  }

  .card {
    padding: 0px 10px 0px 10px;
    margin: 0px;
    grid-area: card;
    /* border: 1px solid #ddd; */
    background-color: #fafafa;
    box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  }

  .brand {
    grid-area: card2;
    font-size: 14px;
    text-align: center;
  }
  
  .fa-twitter {
    margin-top: 0px;
  }
}

@media (max-width: 1000px) and (min-width: 600px) {

  .container {
    display: grid;
    grid-auto-columns: 1fr; 
    margin-top: 5%;
    grid-template-areas:
      'card'
      'card2';  
  }

  .card {
    padding: 20px 20px 0px 20px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .brand {
    grid-area: card2;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}
